<div class="dashboard-div" id="dashboard-div" id="dashboard-div">
    <div class="credits" id="credits">
        <div class="creditScore text-center" id="creditScore">
            <h5 style="color:#f27a72;margin-top:10px;font-family: myFirstFont;">CREDIT SCORE</h5>
            <P style="color: white"></P>
        </div>
        <div class="CreditPoint text-center" id="CreditPoint">
            <h5 style="color:#f27a72;margin-top:10px;font-family: myFirstFont;">CREDIT LIMIT</h5>
            <P style="color: white"></P>
        </div>
    </div>
    <div class="applyBtn-div" id="applyBtn-div">
        <div class="applyBtn-message" style="margin-left: 50px">
            <h5>APPLY FOR A NEW LAON</h5>
            <p>Start for a new loan</p>
        </div>
        <div class="applyBtn" id="applyBtn">
            <button id="btn">
                START LOAN
            </button>
        </div>
    </div>
    <div class="heading" id="heading">
        <h5>DISBURSED APPLICATION</h5>
    </div>
    <div class="tableContnet" style="color:white; padding:0px;font-family: myFirstFont;" id="lastLoan">
        <table class="table text-center table-dark" id="dashboardTable">
            <thead>
                <tr>
                    <th scope="col">APPLICATION ID</th>
                    <th scope="col">LOAN AMOUNT</th>
                    <th scope="col">LOAN START DATE</th>
                    <th scope="col">LOAN DUE DATE</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>
            <tbody id="lastLoan-row">
                <tr>

                        <td></td>
                        <td>&#8377;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
