
<div class="register-container-body">
    <app-navbar></app-navbar>
    <div class="register-main-body">
            <div class="alert alert-danger text-center" id="errorDiv" style="padding:0%;display: none;">
    </div>
   <div class="alert alert-danger text-center" id="errorDiv" style="padding:0%;display:none"></div>
        <div class="container">
            <div class="login-main-div" style="height:100%;">
                <div class="login-container">
                    <form method="POST" action="">
                        <h3 id="login-heading">login</h3>
                        <div class="inputDiv mt-4">
                            <input id="email" type="email"
                                name="email" value="" placeholder="enter your email here" required autocomplete="email" autofocus>
    
                        </div>

                        <div class="inputDiv mt-4">
                            <input id="password" placeholder="enter your password here" type="password" name="password" required autocomplete="current-password">
                                    <span class="invalid-feedback" role="alert">
                                        <strong>   </strong>
                                    </span>
              
                        </div>

                        <div class="inputDiv mt-4 text-center">
                            <button class="btn capbtn" id="loginBtn" style="width:306px">join</button>
                            <div class="loader mt-2" id="loginBtnLoader"
                                style="display:none;float:right;margin-right:10%;"></div>
                        </div>
                        <div class="inputDiv mt-4 text-center">
                            <button type="button" data-toggle="modal" data-target="#exampleModal" style="border:none;background-color:#101010;color:#3498DB">
                                forgot your password ?
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        
        
        <!-- Modal -->
        <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header register-main-body">
                        <h5 class="modal-title" id="exampleModalLabel" style="color:white">Forgot Password ?</h5>
                        <button type="button" class="close" style="border:none;background-color:#101010;color:#3498DB" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body register-main-body">
                        <div class="container reg-div-1">
                            <div class="alert alert-danger text-center" id="errorDiv1" style="padding:0%;display:none"></div>
                            <div id="passworddetails">
                                <div class="row mt-4">
                                    
                                        <div class="inputDiv">
                                            <input type="text" id="usermail" placeholder="enter email" required>
                                        </div>
                                 
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-6">
                                        <div class="inputDiv">
                                            <input type="password" id="userpassword" placeholder="create a new password"
                                                required>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="inputDiv">
                                            <input type="password" id="userpasswordcnf" placeholder="confirm your password"
                                                required>
                                        </div>
                                    </div>
                                    <small class="form-text text-muted" style="margin-left:5px">password should contain at least 8
                                        characters.</small>
                                </div>
        
                            </div>
        
                            <div class="row mt-4" style="display:none" id="otpSubmitDiv">
                                
                                    <div>
                                        <div class="row mt-4 text-center">
                                            <div class="col-3 inputDiv1">
                                                <input class="text-center" id="first" style="color:white;width:30px"
                                                onkeyup="movetoNext(this, 'second',1)" type="text" maxlength="1">
                                            </div>
                                            <div class="col-3 inputDiv1">
                                                <input class="text-center" id="second" style="color:white;width:30px" type="text"
                                                    onkeyup="movetoNext(this, 'third',2)" maxlength="1">
                                            </div>
                                            <div class="col-3 inputDiv1">
                                                <input class="text-center" id="third" style="color:white;width:30px" type="text"
                                                    onkeyup="movetoNext(this, 'fourth',3)" maxlength="1">
                                            </div>
                                            <div class="col-3 inputDiv1">
                                                <input class="text-center" id="fourth" style="color:white;width:30px" type="text"
                                                    onkeyup="movetoNext(this, 'fourth',4)" maxlength="1">
                                            </div>
        
                                        </div>
                                        <small class="form-text text-muted">an OTP has been sent to your email, enter
                                            here.</small><br>
                                        <small class="form-text text-muted">if you have entered wrong email, please refresh and
                                            write again.</small>
                                    </div>
                                
                            </div>
                            <div class="row mt-3">
                                <div>
                                    <button class="btn capbtn" id="joinSpinpayBtn" style="float:right">Change
                                        Password</button>
                                    <div class="loader mt-2" id="joinBtnLoader" style="display:none;float:right;margin-right:10%;">
                                    </div>
                                </div>
                                <div id="otpSubmitDivs" style="display: none">
                                    <div>
                                        <button class="btn capbtn" id="submitOtpBtn" style="float:right">submit otp</button>
                                        <div class="loader mt-2" id="submitOtpLoader"
                                            style="display:none;float:right;margin-right:10%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
        
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>